
.connect-twitter-modal
  background: white
  border-radius: $radius-medium
  overflow: hidden

  .connect-twitter-modal-image
    padding: 1.8rem 0

  .connect-twitter-modal-body
    padding: 1rem 3rem
    text-align: center

  .connect-twitter-modal-action
    display: flex
    justify-content: center
    padding: 2rem 0
