
.competition
  position: relative

  // Make sure that each vertical part of the competition is properly indented.
  > div
    +block

  .competition-external-link
    color: $grey
    float: right

  .competition-tags
    //

  .competition-promoter
    display: flex
    align-items: center

    .competition-promoter-logo
      margin-right: 1rem

    .competition-promoter-name
      font-size: $size-5

    .competition-promoter-verified
      color: $primary
      font-size: $size-7

  .competition-content
    color: $grey

  .competition-image
    //

  .competition-actions
    display: flex
    align-items: center
    justify-content: center

    .competition-actions-spacer
      flex: 1

    +touch
      display: block

      .competition-actions-spacer
        +block

      .competition-actions-entry-methods
        .badge
          padding-left: 0
          padding-right: 0
