
.sieve
  +block
  align-items: center
  display: flex

  .sieve-order
    align-items: center
    display: flex

    .sieve-order-label
      color: $grey-light
      padding-right: 0.5rem
      text-transform: uppercase

  .sieve-spacer
    flex: 1

  .sieve-pattern

  +touch
    display: block

    .sieve-spacer
      +block
