
$default-header-background: $primary
$pseudo-icon-size: 7px
$menu-item-min-width: 130px
$menu-item-padding: 10px 26px 10px 22px

.default-header
  background: $default-header-background

  .default-header-logo
    max-height: 2rem
    margin-top: 2.25rem
    margin-left: $menu-margin-left

    +mobile
      margin-top: 1.25rem

  .nav-menu
    &:hover
      .menu-user
        display: block

    .menu-feed
      display: flex
      align-items: flex-end

      .menu-feed-item
        border-top-left-radius: $radius-small
        border-top-right-radius: $radius-small
        color: $white
        font-size: $size-6
        font-weight: bold
        min-width: $menu-item-min-width
        padding: $menu-item-padding
        text-transform: capitalize
        transition: opacity .5s ease

        .icon i
          background-repeat: no-repeat
          background-size: cover
          width: 16px
          height: 16px

          &.icon-gleam
            background-image: url(#{$cdn}icons/gleam-icon.png)

        &:not(.is-active)
          opacity: .65

          a:hover
            color: $white

          .icon i
            color: $white !important
            &.icon-gleam
              background-image: url(#{$cdn}icons/gleam-icon-white.png)

          &:hover
            opacity: 1

        &.is-active
          background-color: $white
          color: $grey-dark

        +touch
          &:first-child.is-active
            margin-left: $menu-margin-left

    .menu-user
      +elevated(3)
      z-index: 1
      display: none
      position: absolute
      background: white
      margin-top: 0
      top: 100%
      width: 100%
      border-bottom-left-radius: $radius
      border-bottom-right-radius: $radius

      ul li:hover
        color: $white
        background-color: $primary

      &:hover
        display: block

      +mobile
        display: block

  .level .level-item:first-child div
    display: flex
    padding-left: nth(map-get($offsets, 'desktop'), 2)
    border-left: 1px solid rgba($white, .5)

  .has-icon-tick
    position: relative

    &::after
      position: absolute
      bottom: 0
      left: 55%
      font-style: normal
      font-variant: normal
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      font-family: "Font Awesome 5 Free"
      font-weight: 900
      content: "\f00c"
      font-size: $pseudo-icon-size
      color: $primary
      background-color: $white
      border-radius: 50%
      text-align: center
      line-height: calc(2 * #{$pseudo-icon-size} - 1px)
      width: calc(2 * #{$pseudo-icon-size} - 1px)
      height: calc(2 * #{$pseudo-icon-size} - 1px)

  .sort-filters
    border-bottom: 1px solid $grey-lighter

    &.is-horizontally-scrollable
      .tabs ul li:last-child
        padding-right: $horizontal-scroll-shadow

    .tabs
      ul
        li
          min-width: $menu-item-min-width
