
$default-header-background: $primary
$pseudo-icon-size: 7px

.default-header
  background: $default-header-background

  .default-header-logo
    max-height: 2.5rem
    margin-top: 2.25rem

    +mobile
      margin-top: 1.25rem

  .nav-menu
    .menu-feed-item
      text-transform: capitalize
      color: $white
      border-top-left-radius: $radius-small
      border-top-right-radius: $radius-small
      padding: 10px 26px 10px 22px
      font-size: $size-6
      font-weight: bold

      &:not(.is-active)
        .icon i
          color: $white !important

      &.is-active
        background-color: $white
        color: $grey-dark

      +mobile
        &:first-child
          margin-left: 10px

    &:hover
      .menu-user
        display: block

    .menu-user
      +elevated(3)
      display: none
      position: absolute
      background: white
      margin-top: 0
      top: 100%
      width: 100%
      border-bottom-left-radius: $radius
      border-bottom-right-radius: $radius

      ul li:hover
        color: $white
        background-color: $primary

      &:hover
        display: block

      +mobile
        display: block

  .level .level-item:first-child div
    display: flex
    padding-left: nth(map-get($offsets, 'desktop'), 2)
    border-left: 1px solid rgba($white, .5)

  .has-icon-tick
    position: relative

    &::after
      position: absolute
      bottom: 0
      left: 55%
      font-style: normal
      font-variant: normal
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      font-family: "Font Awesome 5 Free"
      font-weight: 900
      content: "\f00c"
      font-size: $pseudo-icon-size
      color: $primary
      background-color: $white
      border-radius: 50%
      text-align: center
      line-height: calc(2 * #{$pseudo-icon-size} - 1px)
      width: calc(2 * #{$pseudo-icon-size} - 1px)
      height: calc(2 * #{$pseudo-icon-size} - 1px)
