/**
 * Styling a buckled header that is sticked either on top or button of a box.
 */

.filters-buckled
  width: 100%
  background-color: $white
  @include bottom-shadowed($grey-lighter)

  .filters-buckled-content
    display: flex
    overflow: hidden
    position: relative
    padding: 0 $brick-padding

    &.radius-bottom
      border-bottom-left-radius: $std-radius
      border-bottom-right-radius: $std-radius

    &.radius-top
      border-top-left-radius: $std-radius
      border-top-right-radius: $std-radius

    .filters-buckled-button
      padding: 10px 12.5px
      cursor: pointer
      border-bottom: 4px solid $white
      @include font-sized($large-font-size)

      &.active, &:hover
        border-bottom: 4px solid $primary

    .filters-buckled-toggle
      padding: 10px 0
      margin-left: auto
      cursor: pointer
