/**
 * Reusable competition box.
 */

.competition-frame
  margin: 20px auto

  .competition-frame-promoter
    display: flex
    flex-wrap: wrap
    align-items: center

    h3
      margin: 0 5px 0 15px

    .tags
      display: flex
      flex: 0 0 100%

      .tag
        border: 1px solid $grey-lighter

  .competition-frame-content
    .frame-content-description
      padding: 7.5px 0

    .frame-content-preview
      border-radius: 4px
      border: 1px solid $white-ter
      margin: 7.5px 0
      width: 100%
      padding-top: 100%
      position: relative
      overflow: hidden
      text-align: center
      align-items: center
      background-color: $white-bis

      img
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        position: absolute
        max-height: 100%
        max-width: 100%

    .frame-content-actions
      display: flex
      flex-wrap: wrap

      .content-actions-twitter
        width: 100%
        display: flex
        padding: 10px 0
        justify-content: space-around

        span
          cursor: pointer
          color: lighten($grey-darker, 30%)

          &:hover
            color: $primary

      .content-actions-enter
        cursor: pointer
        background-color: $primary
        color: $white
        width: 100%
        text-align: center
        padding: 6px 15px
        border-radius: $std-radius
        font-size: 14px
        @include bottom-shadowed($grey-lighter)
