
/**
 * Commonly used classes throughout the app.
 */

.has-background-whatsapp
  background-color: $whatsapp

.has-background-facebook
  background-color: $facebook

.has-background-twitter
  background-color: $twitter

.has-background-messenger
  background-color: $messenger

.has-text-whatsapp
  color: $whatsapp

.has-text-facebook
  color: $facebook

.has-text-twitter
  color: $twitter

.has-text-messenger
  color: $messenger
