/**
 * Commonly used classes throughout the app.
 */

.is-cover
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border-radius: 100%

.is-centered
  align-items: center
  justify-content: center
  align-self: center
  text-align: center

.is-flex-right
  margin-left: auto

.is-semibold
  font-weight: 500

.is-pointer
  cursor: pointer

.has-buttons .button
  margin: 0 7.5px

  &:first-of-type
    margin: 0 7.5px 0 0

.is-green-whatsapp
  background-color: $green-whatsapp

.is-blue-facebook
  background-color: $blue-facebook

.is-blue-twitter
  background-color: $blue-twitter

.is-blue-messenger
  background-color: $blue-messenger

.modal
  .hero
    overflow: hidden
    border-radius: $std-radius

  .modal-body
    padding: 15px 25px
    min-height: 175px

.is-loading
  background: linear-gradient(-45deg, $white-ter, darken($white-bis, 5%))
  background-size: 400% 400%
  -webkit-animation: Loading 1s ease infinite
  -moz-animation: Loading 1s ease infinite
  animation: Loading 1s ease infinite
