
/**
 * Generates animation for all browsers.
 */

@mixin keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

/**
 * Default fixed css.
 */

=fixed
  left: 0
  position: fixed
  top: 0
  width: 100%

/**
 * Elevation mixin.
 */

=elevated($size)
  box-shadow: nth($elevations, $size)

/**
 * Loading background animation mixin.
 */

=loading
  background: linear-gradient(-45deg, darken(white, 1%), white)
  background-size: 400% 400%
  -webkit-animation: Loading 2s ease infinite
  -moz-animation: Loading 2s ease infinite
  animation: Loading 2s ease infinite

/**
 * Static element modifier.
 */

=static
  cursor: default
  opacity: 0.75
