/**
 * Theme colours.
 */

$primary: #01c049

$green-whatsapp: #25d366
$blue-facebook: #3b5998
$blue-twitter: #1da1f2
$blue-messenger: #0084ff

/**
 * Break points.
 */

$mobile: 640px

/**
 * Others.
 */

$std-radius: 4px
